<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    Add Beans-->

    <bean id="PatientServiceImpl" class="za.co.smartcares.service.impl.PatientServiceImp">
        <property name="patientRepository" ref="patientRepository" />
    </bean>
    <bean id="hospitalServiceImpl" class="za.co.smartcares.service.impl.HospitalServiceImp">
        <property name="HospitalRepository" ref="hospitalRepository" />
    </bean>

    <bean id="hospitalController" class="za.co.smartcare.rescontroller.HospitalController">
        <property name="hospitalService" ref="hospitalServiceImpl" />
    </bean>

    <!--    <bean id="PatientController" class="za.co.smartcare.rescontroller.PatientController">-->
<!--&lt;!&ndash;        <property name="patientService" ref="PatientServiceImpl" />&ndash;&gt;-->
<!--    </bean>-->
</beans>